

#profile {
    padding: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    background: url(../pictures/gym.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 5px;
}


.box1 {
    background: url(../pictures/note.jpg) center center;
    color: black;
    border-radius: 5px;
    padding: 90px;
    margin: 50px;
    font-size: 150%;
}

.box2 {
    background: url(../pictures/begining.jpg) center center;
    background-color: #444;
    color: white;
    border-radius: 5px;
    padding: 90px;
    margin: 50px;
    font-size: 200%;
    text-align: center;
}

/*for login page logo*/

#logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}